.container {
    width: 80%;
    margin: auto;
  }
  
  .mat-form-field {
    display: block;
    margin-bottom: 16px;
  }
  
  .common-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  